
.grid-wrapper {

    height:100vh;
}

/* *****************************
categ + tags widget
******************************* */
.categories {
    /* background: #f9f3ec; */
    padding:1rem;
}
.cats {
    width:100%;
    padding:1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* width: 50%; ??? */
}
.cats li{
    list-style: none;
    line-height: 1.5;

}
.cats a{
    text-decoration: none;
    color:#5d4954;
    /* color:rgb(226,226,226); */
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
/* *********** tags ********** */
.tags {
    /* background: #eaeae8; */
    padding: 0 0 .8rem 1.5rem;
}
.tags-items {
    margin-top:1rem;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.tag-wrap > a{
    text-decoration: none;
    color:#000;
}
.tag-wrap {
    padding:5px 12px;
    border: 1px solid gray;
    border-radius: 10%;
    margin:.3rem;
    display: inline-block;

}

.tag-wrap:hover{
    color:red;
    background: #dedddd;
}

/* ************************
    main content
***************************     */
.container-inner {
    grid-column: 1/-1;
    max-width: 100%;
    width:100vw;
    margin: auto;
    /* background:#f9f3ec; */
}
.artCard img{
    max-width: 100%;
    border-radius: 5px;
}
.arch{
    background:#f9f3ec;
    text-align: center;
    grid-area: arch;
}
main {
    /* background: #f1c1bb; */
    text-align: center;
    padding:1.5rem;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: 100%;

}
#blogGrid {
    text-align: center;
    padding:1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    max-width: 700px;
    margin:auto;
}

.aside {
    background:#f9f3ec;
    /* #718093; */
    /* #f5f6fa; */
    text-align: center;
    grid-area: catsAndtags;
}

@media (min-width:700px){
    #blogGrid {
      grid-template-columns: 1fr 1fr;
    }
    .container-inner{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "catsAndtags main arch";
    }
    .tag-wrap {
        padding:7px;
    }
    .artCard {
        display: flex;
        flex-direction: column;
    }
    .lowBut {
        margin-top: auto;
    }
    .artText {
        padding-bottom: 1rem;
    }
}
/* ********************************
    pagination
************************************ */
.pagination {
    font-family: "Open Sans",sans-serif;
    /* text-align: center; */
    transform: translateY(-50%);
    position: relative;

}
.pag-wrapper {
    position:absolute;
    top:50%;
    left:50%;
    padding:15px;
    background: gray;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.5);
    border-radius: 50px;
}
.pag-wrapper li{
    display: inline-block;
    list-style: none;
}
.pag-wrapper li a{
    background: black;
    text-decoration: none;
    color:#ee9595;
    /* #333; */
    border-radius: 50%;
    margin: 8px;
    box-shadow:inset 0 5px 10px rgba(0,0,0,.5), 0 3px 6px rgba(0,0,0,.5);
    display: block;
    transition: 0.5s;
    width:50px;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}
.pag-wrapper li a:hover,
.pag-wrapper li >.active{
    color:black;
    background: white;
}
.pag-wrapper li:first-child a{
    border-radius: 50px 0 0 50px;
}
.pag-wrapper li:last-child a{
    border-radius: 0px 50px 50px 0px;
}
