* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* html {
    margin-bottom: -500px;
} */
body {
    min-height: 100vh;
    max-width: 100vw;
    background:#f5e1cb;
    /* #f9f3ec; */
    font-family: 'Poppins', sans-serif;
}
/* *************************
    buttons
************************* */
.button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  border-radius: 3px;
  transition: background-color 200ms ease;
}
.white-color{
    color:rgba(255,255,255,0.8);
}
.danger{
    color:red;
    /* letter-spacing: 2px; */
}
.bottom-line-danger{
    border-bottom: 1px solid rgba(250,0,0,0.6);
}
.button:hover {
  background-color: rgba(51, 51, 51, 0.8);
}
.ghost-button {
  background: transparent;
  border: 3px solid #333;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 200ms ease, color 200ms ease;
  padding: 1rem;
}
.ghost-button:hover {
  background: #333;
  color: white;
}
/* ************************
    search button
************************ */
.search{
    margin: .5rem 1rem 0;
    text-align: right;
}
.search-inner{
    /* border-bottom: 1px solid rgba(166,164,162,.5); */
    display:flex;
    max-width: 300px;
    margin: auto;
    justify-content: flex-end;
    padding:1rem 0;
}
/* div == input + a  */
.search-box {
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-right: 15px;

}
/* input .search-txt */
.search-txt {
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(128,128,128,0.4);
    border-radius: 15px;
    outline: none;
    float:left;
    padding: 0 10px;
    color:#000;
    font-size: 20px;
    transition:0.4s;
    line-height: 40px;
    width:200px;
    margin-right: .3rem;
}

.search-txt[type=text] {
  -webkit-transition: background-color .35s ease-in-out;
  transition: background-color .35s ease-in-out;
  -webkit-transition:width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
.search-txt[type=text]:focus {
  width: 250px;
  background-color: rgba(255,255,255,0.6);
}

.search-box:hover >.search-btn{
    background: white;
}
.search-btn {
    color:black;
    text-decoration: none;
    float:right;
    width:40px;
    height:40px;
    border-radius: 50%;
    background: #bbb3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border:none;
}
.search-form{
    display: flex;
}
/* ***********general purpose classes*************** */
.round {
    border-radius: 6px;
    outline: none;
}
.marginTop{
    margin-top: 5rem;
}
.marginTop1{
    margin-top:1rem;
}
.marginBot{
    margin-bottom:1rem;
}
.marginBot2{
    margin-bottom:2rem;
}

.center {
    text-align: center;
}

.space{
    /* for inline elems */
    padding: 0 5px;
    font-size: 20px;
}
.no-understreep{
    text-decoration: none;
}

/* idea:combine a link with button */
.invisible {
    background: transparent;
    float:right;
    width:60px;
    height:60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
}
.mask-auth {
    border:none;
    background: none;
    cursor: pointer;
    color:rgb(226,226,226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    outline: none;

}
@media only screen and (min-width:500px){
    .search-inner {
        max-width: 600px;
        justify-content: center;
    }
    .search-txt{
        width:300px;
    }
    .search-txt[type=text]:focus {
      width: 350px;
      background-color: rgba(255,255,255,0.6);
    }
}
@media only screen and (min-width:750px){
    .search-inner {
        max-width: 800px;
    }
    .search-txt{
        width:400px;
    }
    .search-txt[type=text]:focus {
      width: 600px;
      background-color: rgba(255,255,255,0.6);
    }
}

/* *****************************
    navigation
***************************** */
nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5d4954;
    position: fixed;
    top:0;
    /* right:0; */
    width:100%;
    flex-wrap: wrap;

}
.logo {
    color:rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding-left: 0.5rem;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color:rgb(226,226,226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;

}
.burger{
    display:none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height:3px;
    background-color:rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* чтобы на больших экранах расстяние между li было по-больше */
 @media screen and (max-width:1024px){
    /* body {
        overflow: hidden;
    } */

}
.nav-links{
        width:60%;
    }
@media screen and (max-width:800px){
    /* body {
        overflow: hidden;
    } */
    .nav-links{
        /* переместятся враво */
        position: absolute;
        right:0px;
        /* full-screen */
        height:92vh;
        /* top 8vh перенесёт все li вниз под меню */
        top:8vh;
        background-color: #5d4954;
        display:flex;
        flex-direction: column;
        /* начинка встанет в середину */
        align-items: center;
        width:50%;
        transform: translateX(100%);
        /* чтобы не пац-бум менялся background color */
        transition: transform 0.5s ease-in;
     }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;

    }
}
.nav-active {
        transform: translateX(0%);
    }

@keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateY(50px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
}

.toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);
        }
.toggle .line2{
        opacity: 0;
    }
.toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
}

/* ***********************
    General grid-structure
*************************   */
/* all elems are inside one grid container */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  /* grid:auto/1em 1fr 1em; */
  grid-column-gap: 30px;
 /* height: 100vh; */
}

nav,.hero,.search,.features,.callout,#blog,footer,.contact-section,.post-container,#signup,#login {
    grid-column: 1/-1;
}
/* **********general footer************ */
/* **********************
    footer
*************************  */
/* ************ footer ****************** */
/* Goal: click on #bookshelf(or #)|=> panel appears with 100vh and X to close */
#footer-nav {
    background-color:#5d4954;
    /* rgb(29,25,22); */
    color: rgb(226,226,226);
    /* rgb(255,234,180); */
    padding: 1rem;
    /* in case browser doesn't support sticky property fall back */
    position:fixed;
    bottom: 0;
    width:100%;
    /*otherwise */
    position: sticky;
    bottom: 0px;
    /* just to be sure that we have this elem behind the panel */
    z-index: 100;

}

.footer-nav-menu{
    max-width: 90%;
    margin:auto;
    list-style: none;
}
.panel-close{
   text-align: right;
}
.panel-close i{
   font-size: 2rem;
}

.footer-nav-menu {
    display:flex;
    justify-content: space-between;
}
.footer-nav-menu-item i{
   font-size: 1.5rem;
}
/* default div.panel |=> hidden under the footer thx to transform: translateY(100%); if click |==> transform: translateY(0%) and it appears above the footer with fixed state;*/
.panel {
   /* padding:1rem; */
   height:100vh;
   /* or 100% */
   width:100%;
   /* to raise this elem above the rest */
   /* with fixed |=> pulled out the flow */
   position: fixed;
   top:0;
   left:0;
   /* let op: bg color on front, the rest is behind panel */
   background-color: #e7e3e3;
   /* important moment: we need only with css tool to shift
   cilck elem |==> from fixed position to jump under the footer
   ax Y|=> push it 100% in Y-direction*/
   transform: translateY(100%);
   /* to prevent just jump|==> smooth changing (0% vs 100%) */
   transition: -webkit-transform 500ms ease;
   transition: transform 500ms ease;
}
.panel.active {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   /* aply to active class .panel.active  */
   animation: slideUp 0.8s ease;
}

@keyframes slideUp {
   from{
       transform: translateY(100%);
       opacity: 0;
   }
   to{
       transform: translateY(0%);
       opacity: 1;
   }
}
.pane-inner{
   /* otherwise we will loose X from the right side */
   padding:1rem;
}
.panel ul{
   list-style: none;
   padding:0;
}
.panel ul li{
   margin:1rem 0;
}

/* @media (max-width:700px){
    footer{
        flex-direction: column;
    }
    .card {
        width:100%;
        height:110px;
        max-width: 300px;
        padding:0 30px;
        margin:15px 0;
    }

}
@media (min-width:700px){
    footer {
        margin-top: 2rem;
    }
} */



/* **************index.html styling *********** */

/* ********************************
    hero section
******************************** */
.hero {
    display: flex;
    align-items:center;
    /* background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url(https://unsplash.it/2000/1500?image=197); */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url(../img/rail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40vh;
}
.hero-inner {
    max-width:80vw;
    margin:auto;
    padding-left:2rem;
}
.hero-inner h2{
    color:#fff;
    line-height:1.2;
    text-align: center;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
  .hero-inner {
    max-width: 50vw;

  }
  .hero-inner h2 {
    text-align: left;
  }
}
/* ************************
    Features
************************  */
.features {
  padding: 2rem;
  /* margin:0  */
}

.features-group{
    padding-bottom: 2rem;
}

.features-image img {
  width: 100%;
  border-radius: 20%;
}
.icon-date {
    padding: 5px 0;
}

@media (min-width:768px){
    .features {
      padding: 4rem;
    }
    .features-group:nth-child(2){
        margin:0 2rem;
    }
    .features-inner{
        display:flex;
        max-width: 800px;
        margin: auto;
    }
    .features-group{
        padding-bottom: 0rem;
        flex:0 1 30vw;
    }
}
/* ************************
    callout
************************ */

.callout {
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://unsplash.it/1500?image=1019); */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bosLight.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callout-inner {
  text-align: center;
}
.callout-inner h3 {
  font-size: 2rem;
}

/* *******************
    blog
******************* */

#blog{
    padding:2rem 0;
}
@media (min-width:768px){
    #blog{
        padding:5rem 0;
    }
}
.blog-grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}
@media (min-width:768px){
    .blog-grid{
        display:grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-gap: 3rem;
    }
}
.blog-inner{
    max-width: 800px;
    margin:auto;
    padding:0 1rem;
}
.blog-image img{
    width: 100%;

}
.blog-text{
    margin-bottom: 1.5rem;
}
.blog-summary{
    margin-top: 0;
}

.blog-cta {
  margin: 2rem 0 0;
}
.blog-cta a {
  font-size: 0.8rem;
}
.blog-cta-inner{
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
  .blog-cta {
    margin: 3rem 0 0;
    text-align: center;
  }
  .blog-cta a {
    font-size: 1rem;
  }
}

/* ********************************
    pagination
************************************ */
.pagination {
    font-family: "Open Sans",sans-serif;
    display: flex;
    justify-content: space-around;

}
.pag-wrapper {
    padding:5px;
    background: gray;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.5);
    border-radius: 50px;
}
.pag-wrapper li{
    display: inline-block;
    list-style: none;
}
.pag-wrapper li a{
    background: black;
    text-decoration: none;
    color:rgba(255,255,255,0.5);
    /* #ee9595; */
    /* #333; */
    border-radius: 50%;
    margin: 4px;
    box-shadow:inset 0 5px 10px rgba(0,0,0,.5), 0 3px 6px rgba(0,0,0,.5);
    display: block;
    transition: 0.5s;
    width:30px;
    height:30px;
    line-height: 30px !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 0 7px;
}
.pag-wrapper li a:hover,
.pag-wrapper li >.active{
    color:black;
    background: white;
}
.pag-wrapper li:first-child a{
    border-radius: 50px 0 0 50px;
}
.pag-wrapper li:last-child a{
    border-radius: 0px 50px 50px 0px;
}
@media (max-width:700px){
    .pag-wrapper li a{
        /* margin:4px 8px; */
        padding:0 .5rem;
    }
}


/* ******************************
    all Blogs
*****************************  */

.aside,.arch {
    padding-top: 0.5rem;
}
/* *****************************
categ + tags widget
******************************* */
.categories {
    /* background: #f9f3ec; */
    /* padding:1rem; */
    padding: 0 0 .8rem 1.5rem;
}
.cats {
    width:100%;
    padding:1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* width: 50%; ??? */
}
.cats li{
    list-style: none;
    line-height: 1.5;

}
.cats a{
    text-decoration: none;
    color:#5d4954;
    /* color:rgb(226,226,226); */
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
/* *********** tags ********** */
.tags {
    /* background: #eaeae8; */
    padding: 0 0 .8rem 1.5rem;
}
.tags-items {
    margin-top:1rem;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.tag-wrap > a{
    text-decoration: none;
    color:#000;
}
.tag-wrap {
    padding:5px 12px;
    border: 1px solid gray;
    border-radius: 10%;
    margin:.3rem;
    display: inline-block;

}

.tag-wrap:hover{
    color:red;
    background: #dedddd;
}
.categories h3, .tags h3{
    text-align: left;
    /* padding-left: 1rem; */
}

/* ************************
    main content allblogs.html
***************************     */
.container-inner{
    grid-column: 1/-1;
    max-width: 100%;
    width:100vw;
    margin: -1rem auto;
    /* background:#f9f3ec; */

}
.artCard img{
    max-width: 100%;
    border-radius: 5px;
}
.arch{
    /* background:#f9f3ec; */
    text-align: center;
    grid-area: arch;
    border-left:1px solid rgba(128,128,128,0.4);
    visibility: hidden;


}
.main-allblogs {
    /* background: #f1c1bb; */
    text-align: center;
    /* padding:1.5rem; */
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: 100%;

}
#blogGrid {
    text-align: center;
    padding:1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    max-width: 700px;
    margin:auto;
}

.aside {
    /* background:#f9f3ec; */
    border-right:1px solid rgba(128,128,128,0.4);
    text-align: center;
    grid-area: catsAndtags;
}

@media (min-width:700px){
    #blogGrid {
      grid-template-columns: 1fr 1fr;
    }
    .container-inner{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "catsAndtags main arch";
    }
    .tag-wrap {
        padding:7px;
    }
    .artCard {
        display: flex;
        flex-direction: column;
    }
    .lowBut {
        margin-top: auto;
    }
    .artText {
        padding-bottom: 1rem;
    }
    /* may be later o adjust */
    .arch{
        visibility: visible;
    }

}
/* ********** end allblogs.html styling ********** */

/* ************* conact.html ********************* */
.contact-section{
    text-align: center;
    padding: 3rem 0;
}
.inner-width {
    max-width: 80%;
    margin: auto;
    /* background: gray; */
    background: #5d4954;
    font-family: 'Poppins',sans-serif;
    padding:  1rem;
    color:white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
/* tag form ==.contact-box */
.contact-box{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section h1{
    font-size:1.1;
    color:rgba(255,255,255,0.8);
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}
/* tag div */
/* ************ auth(login,signup) ???********************** */
.form-group {
    margin-bottom: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    color:rgba(255,255,255,0.8)
}
.input-control{
    margin-top: .5rem;
    padding:.5rem;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    /* border: 1px solid transparent; */
    border: 1px solid rgba(255,255,255,0.2);
    background: none;
    color:white;
}
@media screen and (min-width:800px){
    .inner-width{
        width:70%;
    }
}
/* ************* sign up modal ***************** */
/* whole div with modal ==> desktop first*/
.modal-bg-signup {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-bg-login {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-bg-active {
    visibility: visible;
    opacity: 1;
}
.title-auth{
    text-align: center;
    margin-top: 1rem;
}
.modal-signup,.modal-login {
    background: white;
    margin:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
    position: relative;
}
.modal-signup,.modal-login >h2{
    margin-bottom: 0.2rem;
}
.modal-close{
    position: absolute;
    top:1rem;
    right:1rem;
    cursor: pointer;
}
.modal-close2{
    position: absolute;
    top:1rem;
    right:1rem;
    cursor: pointer;
}
.form-auth{
    padding-top: 0.7rem;
    max-width: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5d4954;
}
.form-extra {
    margin-bottom: 1rem;
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content:space-between; */
    align-items: baseline;
}
.input-control-auth{
    margin-top: .5rem;
    padding:.5rem;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    /* border: 1px solid transparent; */
    border: 1px solid rgba(255,255,255,0.2);
    background: none;
    color:white;
}
.optionTextForm {
    font-size: 16px;
    /* color:rgba(255,255,255,0.7); */
}
.optionTextForm > a{
    color:black;

}
#id_remember{
    margin-left: 0.5rem;
}
@media (max-width:800px){
    .modal-signup,.modal-login{
        /* width: 50%; */
        /* height:55%; */
    }
    .title-auth{
        margin: 0 0 1rem 0;
    }
}
@media (max-width:600px){
    .modal-signup,.modal-login{
        /* background: white; */
        /* width: 75%;
        height:60%; */
    }
    .title-auth{
        margin: 0 0 1rem 0;
    }
    .modal-login>.form-auth{
        height: 90%;
    }
    .modal-close2{
        position: absolute;
        top:.6rem;
        right:1rem;
        cursor: pointer;

    }
}
/* ************log out form******************** */
.inner-width-section {
    max-width: 80%;
    margin: auto;
    /* display: flex;
    flex-direction: column; */
}
.inner-width-section a{
    color:black;
}
@media screen and (min-width:800px){
    .inner-width-section{
        width:30%;
        margin: auto;
        background:rgba(93,73,84,0.5);
        padding:  1rem;
        color:rgba(0,0,0,0.7);
        display: flex;
        flex-direction: column;
        border-radius: 5px;

    }
    .inner-width-section a{
        color:white;
    }
}
/* ****************profile.html****************** */

.inner-profile {
    max-width: 80%;
    margin: auto;
    border: 1px solid black;
    padding:2rem;
}
.inner-profile h1{
    color:black;
}
.profile-image{
    margin-bottom: 1rem;
}
.profile-image img{
    width:150px;
    height:150px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-item{
    text-align: left;
    padding:1rem 0;
}
.bottom-line{
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.profile-item a{
    text-transform: uppercase;
    color:rgba(0,0,0,0.8);
    text-decoration: none;

}
.bell {
    margin: 0 1rem;
}
@media (min-width:700px) {
    .inner-profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;

    }
}
/* **************** post-detail.html************** */
.sidebar-section{
    display: none;
}
.post-section{
    width:100%;
    /* border: 1px solid black; */
}
.post-section h1{
    font-size:1.1;
    color:rgba(0,0,0,0.8);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: center;
}
.post-preview{
    padding:0.5rem 1rem;

}
.post-preview-top,.post-preview-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-wrapper {
    max-width: 80%;
    margin: auto;
    font-family: 'Poppins',sans-serif;
    font-size: 0.8rem;
    padding:  0.5rem;
    color:black;
    /* display: flex;
    flex-direction: column; */
    border-radius: 5px;
    /* border: 1px solid red; */
}
.post-wrapper a{
    color:black;
}

.post-image{
    width:100%;
    padding: 5px 0;
}
.post-body{
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 1rem;
}
.tag-collection,.tag-share{
    border-top: 1px solid black;
    padding: 0.5rem;
}
.back-wrapper{
    text-align: center;
}
@media (min-width:700px){
    .post-preview{
        padding:0.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* no need link "back on large screens " */
    .back-wrapper{
        display:none;
    }
}
@media (min-width:1000px){
    .post-preview{
        padding:0.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .post-preview-top,.post-preview-bottom{
        padding: 0 1rem;
    }

}
@media (min-width:1400px){
    .post-container{
        display: flex;
    }
    .post-wrapper{
        max-width: 70%;
        margin:auto;
    }
    .sidebar-section{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        /* border:1px solid black; */
    }
    .sidebar-wrapper{
        padding:10px;
    }
    .all-categories{
        display: flex;
        flex-direction:column;
        align-items: flex-start;

    }
    .all-categories> .cats{
        padding-left: 0;
    }

}
/* ************** comments part inside post-section *************** */
.comments-total{
    border-bottom:1px solid gray;
    margin:0.5rem 0;
    padding:0.5rem;
}
.comment {
  display: grid;
  /* Necessary until MS supports the latest version of the spec */
  -ms-grid-columns: auto 1fr;
  /* period represents an empty area in the grid */
  /* auto 1fr means the second column will be greedy and fill all available space */
  grid-template:
    'avatar-area comment-area'
    '. nested-comments-area'
    / auto 1fr;
}

/* We can apply the highlight as an element which sits across grid areas 👌 */
.highlight {
  background: #ccc;
  /* Necessary until MS supports the latest version of the spec */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  /* grid-area: start-row-line / start-column-line / end-row-line / end-column-line; */
  /* ^ also it's 1-indexed */
  grid-area: 1 / 1 / 2 / 3;
}

.avatar-wrapper {
  border: 1px solid black;
  border-right: transparent;
  padding: 5px;
  /* Necessary until MS supports the latest version of the grid spec */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: avatar-area;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  background: #666;
}

.content-wrapper {
  border: 1px solid black;
  padding: 10px;
  /* Necessary until MS supports the latest version of the spec */
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: comment-area;
}

.nested-comments-wrapper {
  /* border: 1px solid black; */
  padding: 10px;
  /* Necessary until MS supports the latest version of the spec */
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: nested-comments-area;
}

.link-button {
    text-decoration: none;
    color:white;
    padding: 0.5rem 0.8rem;
    background-color: gray;
    font-size: 0.9rem;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: background-color 300ms ease,border 300ms ease;
    margin-top: 0.5rem;
}

.link-button:hover{
    color:black;
    background: transparent;
    border:3px solid #fff;
}
.comment-body{
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    margin:1rem 0;
    padding:1rem;
}
@media (max-width:700px){
    .comment {
      display: block;
    }
    .nested-comments-wrapper {
       padding: 5px 0 5px 0px;
    }
    .post-preview-top{
        display: block;
        padding-left:1rem;
    }
    .avatar-wrapper{
        border-bottom: transparent;
    }
}
