* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    min-height: 100vh;
    max-width: 100vw;
    background:#f5e1cb;
    /* #f9f3ec; */
}

/* *************************
    buttons
************************* */
.button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  border-radius: 3px;
  transition: background-color 200ms ease;
}
.button:hover {
  background-color: rgba(51, 51, 51, 0.8);
}

.ghost-button {
  background: transparent;
  border: 3px solid #333;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 200ms ease, color 200ms ease;
  padding: 1rem;
}
.ghost-button:hover {
  background: #333;
  color: white;
}
/* ************************
    search button
************************ */
.search{
    margin: .5rem 1rem 0;
    text-align: right;
}
.search-inner{
    /* border-bottom: 1px solid rgba(166,164,162,.5); */
    display:flex;
    max-width: 300px;
    margin: auto;
    justify-content: flex-end;
    padding:1rem 0;
}
/* div == input + a  */
.search-box {
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-right: 15px;

}
/* input .search-txt */
.search-txt {
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(128,128,128,0.4);
    border-radius: 15px;
    outline: none;
    float:left;
    padding: 0 10px;
    color:#000;
    font-size: 20px;
    transition:0.4s;
    line-height: 40px;
    width:200px;
    margin-right: .3rem;
}

.search-txt[type=text] {
  -webkit-transition: background-color .35s ease-in-out;
  transition: background-color .35s ease-in-out;
  -webkit-transition:width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
.search-txt[type=text]:focus {
  width: 250px;
  background-color: rgba(255,255,255,0.6);
}

.search-box:hover >.search-btn{
    background: white;
}
.search-btn {
    color:black;
    text-decoration: none;
    float:right;
    width:40px;
    height:40px;
    border-radius: 50%;
    background: #bbb3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border:none;
}
.search-form{
    display: flex;
}
/* ***********general purpose classes*************** */
.round {
    border-radius: 6px;
    outline: none;
}
.marginTop{
    margin-top: 5rem;
}
.marginTop1{
    margin-top:1rem;
}
.marginBot{
    margin-bottom:1rem;
}
.center {
    text-align: center;
}

.space{
    /* for inline elems */
    padding: 0 5px;
    font-size: 20px;
}

/* idea:combine a link with button */
.invisible {
    background: transparent;
    float:right;
    width:60px;
    height:60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
}
.mask-auth {
    border:none;
    background: none;
    cursor: pointer;
    color:rgb(226,226,226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    outline: none;

}
@media only screen and (min-width:500px){
    .search-inner {
        max-width: 600px;
        justify-content: center;
    }
    .search-txt{
        width:300px;
    }
    .search-txt[type=text]:focus {
      width: 350px;
      background-color: rgba(255,255,255,0.6);
    }
}
@media only screen and (min-width:750px){
    .search-inner {
        max-width: 800px;
    }
    .search-txt{
        width:400px;
    }
    .search-txt[type=text]:focus {
      width: 600px;
      background-color: rgba(255,255,255,0.6);
    }
}

/* *****************************
    navigation
***************************** */
nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5d4954;
    position: fixed;
    top:0;
    /* right:0; */
    width:100%;
    flex-wrap: wrap;

}
.logo {
    color:rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding-left: 0.5rem;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color:rgb(226,226,226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;

}
.burger{
    display:none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height:3px;
    background-color:rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* чтобы на больших экранах расстяние между li было по-больше */
 @media screen and (max-width:1024px){
    /* body {
        overflow: hidden;
    } */

}
.nav-links{
        width:60%;
    }
@media screen and (max-width:800px){
    /* body {
        overflow: hidden;
    } */
    .nav-links{
        /* переместятся враво */
        position: absolute;
        right:0px;
        /* full-screen */
        height:92vh;
        /* top 8vh перенесёт все li вниз под меню */
        top:8vh;
        background-color: #5d4954;
        display:flex;
        flex-direction: column;
        /* начинка встанет в середину */
        align-items: center;
        width:50%;
        transform: translateX(100%);
        /* чтобы не пац-бум менялся background color */
        transition: transform 0.5s ease-in;
     }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;

    }
}
.nav-active {
        transform: translateX(0%);
    }

@keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateY(50px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
}

.toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);
        }
.toggle .line2{
        opacity: 0;
    }
.toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
}

/* ***********************
    General grid-structure
*************************   */
/* all elems are inside one grid container */
.grid-wrapper {
  display: grid;
  /* grid-template-columns: repeat(12, 100px); */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 30px;
  /* height: 100vh; */
}

nav,.hero, .features,.callout,#blog,footer,.contact-section,.search {
    grid-column: 1/-1;
}
/* **********general footer************ */
/* **********************
    footer
*************************  */
footer {
    background: #5d4954;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height:300px; */
    height: 100%;
}
.contact-info {
    display:flex;
    width:100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.card {
    width:calc(40%);
    height: 200px;
    padding:0 20px;
    margin:0 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.card-icon{
    font-size: 28px;
    background: gray;
    height:60px;
    width:60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition:0.3s linear;
    color:black;
}

.card:hover .card-icon{
    background: none;
    color:rgba(255,255,255,0.8);
    /* #ee9595; */
    transform: scale(1.6);
}

.card p{
    margin-top: 20px;
    font-weight:300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
.card:hover p {
    max-height: 40px;
    opacity: 1;
    color:#fff;
}
@media (max-width:700px){
    footer{
        flex-direction: column;
    }
    .card {
        width:100%;
        max-width: 300px;
        padding:0 30px;
        margin:0 10px;
    }
}
@media (min-width:700px){
    footer {
        margin-top: 2rem;
    }
}

/* **************index.html styling *********** */

/* ********************************
    hero section
******************************** */
.hero {
    display: flex;
    align-items:center;
    /* background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url(https://unsplash.it/2000/1500?image=197); */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url(../img/rail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40vh;
}
.hero-inner {
    max-width:80vw;
    margin:auto;
    padding-left:2rem;
}
.hero-inner h2{
    color:#fff;
    line-height:1.2;
    text-align: center;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
  .hero-inner {
    max-width: 50vw;

  }
  .hero-inner h2 {
    text-align: left;
  }
}
/* ************************
    Features
************************  */
.features {
  padding: 2rem;
  /* margin:0  */
}

.features-group{
    padding-bottom: 2rem;
}

.features-image img {
  width: 100%;
  border-radius: 20%;
}
.icon-date {
    padding: 5px 0;
}

@media (min-width:768px){
    .features {
      padding: 4rem;
    }
    .features-group:nth-child(2){
        margin:0 2rem;
    }
    .features-inner{
        display:flex;
        max-width: 800px;
        margin: auto;
    }
    .features-group{
        padding-bottom: 0rem;
        flex:0 1 30vw;
    }
}
/* ************************
    callout
************************ */

.callout {
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://unsplash.it/1500?image=1019); */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bosLight.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callout-inner {
  text-align: center;
}
.callout-inner h3 {
  font-size: 2rem;
}

/* *******************
    blog
******************* */

#blog{
    padding:2rem 0;
}
@media (min-width:768px){
    #blog{
        padding:5rem 0;
    }
}
.blog-grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}
@media (min-width:768px){
    .blog-grid{
        display:grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-gap: 3rem;
    }
}
.blog-inner{
    max-width: 800px;
    margin:auto;
    padding:0 1rem;
}
.blog-image img{
    width: 100%;

}
.blog-text{
    margin-bottom: 1.5rem;
}
.blog-summary{
    margin-top: 0;
}

.blog-cta {
  margin: 2rem 0 0;
}
.blog-cta a {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .blog-cta {
    margin: 3rem 0 0;
    text-align: center;
  }
  .blog-cta a {
    font-size: 1rem;
  }
}

/* ********************************
    pagination
************************************ */
.pagination {
    font-family: "Open Sans",sans-serif;
    display: flex;
    justify-content: space-around;

}
.pag-wrapper {
    padding:5px;
    background: gray;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.5);
    border-radius: 50px;
}
.pag-wrapper li{
    display: inline-block;
    list-style: none;
}
.pag-wrapper li a{
    background: black;
    text-decoration: none;
    color:rgba(255,255,255,0.5);
    /* #ee9595; */
    /* #333; */
    border-radius: 50%;
    margin: 4px;
    box-shadow:inset 0 5px 10px rgba(0,0,0,.5), 0 3px 6px rgba(0,0,0,.5);
    display: block;
    transition: 0.5s;
    width:30px;
    height:30px;
    line-height: 30px !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 0 7px;
}
.pag-wrapper li a:hover,
.pag-wrapper li >.active{
    color:black;
    background: white;
}
.pag-wrapper li:first-child a{
    border-radius: 50px 0 0 50px;
}
.pag-wrapper li:last-child a{
    border-radius: 0px 50px 50px 0px;
}
@media (max-width:700px){
    .pag-wrapper li a{
        /* margin:4px 8px; */
        padding:0 .5rem;
    }
}


/* ******************************
    all Blogs
*****************************  */

.aside,.arch {
    padding-top: 0.5rem;
}
/* *****************************
categ + tags widget
******************************* */
.categories {
    /* background: #f9f3ec; */
    /* padding:1rem; */
    padding: 0 0 .8rem 1.5rem;
}
.cats {
    width:100%;
    padding:1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* width: 50%; ??? */
}
.cats li{
    list-style: none;
    line-height: 1.5;

}
.cats a{
    text-decoration: none;
    color:#5d4954;
    /* color:rgb(226,226,226); */
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
/* *********** tags ********** */
.tags {
    /* background: #eaeae8; */
    padding: 0 0 .8rem 1.5rem;
}
.tags-items {
    margin-top:1rem;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.tag-wrap > a{
    text-decoration: none;
    color:#000;
}
.tag-wrap {
    padding:5px 12px;
    border: 1px solid gray;
    border-radius: 10%;
    margin:.3rem;
    display: inline-block;

}

.tag-wrap:hover{
    color:red;
    background: #dedddd;
}
.categories h3, .tags h3{
    text-align: left;
    /* padding-left: 1rem; */
}

/* ************************
    main content allblogs.html
***************************     */
.container-inner{
    grid-column: 1/-1;
    max-width: 100%;
    width:100vw;
    margin: -1rem auto;
    /* background:#f9f3ec; */

}
.artCard img{
    max-width: 100%;
    border-radius: 5px;
}
.arch{
    /* background:#f9f3ec; */
    text-align: center;
    grid-area: arch;
    border-left:1px solid rgba(128,128,128,0.4);

}
.main-allblogs {
    /* background: #f1c1bb; */
    text-align: center;
    /* padding:1.5rem; */
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: 100%;

}
#blogGrid {
    text-align: center;
    padding:1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    max-width: 700px;
    margin:auto;
}

.aside {
    /* background:#f9f3ec; */
    border-right:1px solid rgba(128,128,128,0.4);
    text-align: center;
    grid-area: catsAndtags;
}

@media (min-width:700px){
    #blogGrid {
      grid-template-columns: 1fr 1fr;
    }
    .container-inner{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "catsAndtags main arch";
    }
    .tag-wrap {
        padding:7px;
    }
    .artCard {
        display: flex;
        flex-direction: column;
    }
    .lowBut {
        margin-top: auto;
    }
    .artText {
        padding-bottom: 1rem;
    }
}
/* ********** end allblogs.html styling ********** */

/* ************* conact.html ********************* */
.contact-section{
    text-align: center;
    padding: 3rem 0;
}
.inner-width {
    max-width: 80%;
    margin: auto;
    /* background: gray; */
    background: #5d4954;
    font-family: 'Poppins',sans-serif;
    padding:  1rem;
    color:white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
/* tag form ==.contact-box */
.contact-box{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section h1{
    font-size:1.1;
    color:rgba(255,255,255,0.8);
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}
/* tag div */
.form-group {
    margin-bottom: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    color:rgba(255,255,255,0.8)
}
.input-control{
    margin-top: .5rem;
    padding:.5rem;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    /* border: 1px solid transparent; */
    border: 1px solid rgba(255,255,255,0.2);
    background: none;
    color:white;
}
@media screen and (min-width:800px){
    .inner-width{
        width:70%;

    }
}
/* ************* sign up modal ***************** */
/* whole div with modal ==> desktop first*/
.modal-bg-signup {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-bg-login {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-bg-active {
    visibility: visible;
    opacity: 1;
}
.title-auth{
    text-align: center;
    margin-top: 1rem;
}
.modal-signup,.modal-login {
    background: white;
    margin:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
    position: relative;
}
.modal-signup,.modal-login >h2{
    margin-bottom: 0.2rem;
}
.modal-close{
    position: absolute;
    top:1rem;
    right:1rem;
    cursor: pointer;
}
.modal-close2{
    position: absolute;
    top:1rem;
    right:1rem;
    cursor: pointer;
}
.form-auth{
    padding-top: 0.7rem;
    max-width: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5d4954;
}
.form-extra {
    margin-bottom: 1rem;
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content:space-between; */
    align-items: baseline;
}
.input-control-auth{
    margin-top: .5rem;
    padding:.5rem;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    /* border: 1px solid transparent; */
    border: 1px solid rgba(255,255,255,0.2);
    background: none;
    color:white;
}
.optionTextForm {
    font-size: 16px;
    /* color:rgba(255,255,255,0.7); */
}
.optionTextForm > a{
    color:black;

}
#id_remember{
    margin-left: 0.5rem;
}
@media (max-width:800px){
    .modal-signup,.modal-login{
        /* width: 50%; */
        /* height:55%; */
    }
    .title-auth{
        margin: 0 0 1rem 0;
    }
}
@media (max-width:600px){
    .modal-signup,.modal-login{
        /* background: white; */
        /* width: 75%;
        height:60%; */
    }
    .title-auth{
        margin: 0 0 1rem 0;
    }
    .modal-login>.form-auth{
        height: 90%;
    }
    .modal-close2{
        position: absolute;
        top:.6rem;
        right:1rem;
        cursor: pointer;

    }
}
